/* Least specific style*/
header {
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
    width: 100%;
}

.shipping-conditions {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}
.shipping-conditions p {
    margin-right: 20px;
}
.primary-header {
    display: flex;
    border: 1px solid darkorange;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.primary-header nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
}
nav a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.account-shopping {
    display: flex;
    gap: 40px;
}

.account-shopping img {
    transform: scale(1.5);

}

.footer-text {
    display: flex;
    justify-content: space-around;
    
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.conteiner-footer {
    background-color: #d9d9d9;
    padding: 20px;
}
/*homepage*/

.home-page {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background-color: #f8f8f8;
}
.app-info {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    flex-shrink: 0;
    min-width: 0;

}

.app-info p {
    display: flex;
    line-height: 19px;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 300px;

}

h2 {
font-family: 'inter';
font-size: 32px;
font-weight: bolder;
}
.ilustrasjons-bilde {
    display: flex;
    justify-content: center;
    /*   width: 400px;
    height: 400px;
    max-width: 100%; */
}

.ilustrasjons-bilde img {
    width: 300px;
    height: 400px;
    max-width: 100%;
}

h1{
    font-size: 32px;
    font-weight: bolder;
}

.rainydays-info p {
    width: 278px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 60px;
}


.homepage-features {
    background-color: #f8f8f8;
}
.featured-jackets1 img {
    width: 200px;
    height: 248px;
}

.featured-jackets1,
.featured-jackets2,
.featured-jackets3 {
    margin: 65px;

}

.featured-jackets1 p {
    display: flex;
    max-width: 200px;
}

.featured-jackets2 img {
    width: 200px;
    height: 248px;
}

.featured-jackets2 p {
    display: flex;
    max-width: 200px;
}


.featured-jackets3 img {
    width: 200px;
    height: 248px;

}

.featured-jackets3 p {
    display: flex;
    width: 200px;

}

.homepage-features {
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */
    margin-top: 60px;
    
}

button {
    background-color: #E56E00;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}


/*contact page*/
/*productlist*/
/*support*/
/*cart page*/
/*about us*/
/*media queries*/
